<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MySuite" parallel="classes" thread-count="4" verbose="1" >
    <test name="Smoke" >

        <groups>
            <run>
                <include name= "sign"></include>
                <include name="login"></include>
                <include name="checkbox"></include>
                <include name="dropdown"></include>
                <exclude name="dropdown"></exclude>
            </run>
        </groups>

        <classes>
            <class name="testcases.FirstTest" >
                <methods>
                    <exclude name="validateEmailPasswordLogInDisplayed"></exclude>
                    <exclude name="fillInvalidEmailAndPasswordAndPressEnter"></exclude>
                </methods>
            </class>
            <class name="testcases.FourLessonTest" />
            <class name="testcases.SignUpTest" />
        </classes>
    </test>


</suite>
